body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
   font-size:1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.main-page {
display: flex;
font-size: 1em;   
background-color: beige;  
align-content:center;
}

.select-containers{
display:flex;
flex-wrap:wrap;    
justify-content: space-around;   
align-items:baseline;     
}

.user-select-container {
	display:flex; 
	font-size: 1em;  
	width:fit; 
	color: cadetblue;
	margin: 2em;  
	background-color: beige;
	}    


.user-select-container-title {
   display:flex;  
   margin: 2em;  
	}

.user-select {
	display:flex; 
	font-size: 1em;  
	width:fit; 
	color: cadetblue;
	margin: 2em;  
	}   

.album-select-container {
	display:flex;  
	font-size: 1em;
	width: fit;      
	color: orange; 
	margin: 2em;  
	background-color: beige;  
	} 

.album-select-container-title {
   display:flex;
   margin: 2em;
	}

.album-select {  
	display:flex; 
	font-size: 1em;  
	width:max-content;   
	color: orange;
	margin: 2em;  
	}  

.photo-grid {  
display:flex;
}

.grid-section {
	display: flex;
	align-items: center;  
	margin:2em;  
}

.flex-grid {
  display: flex;  
  flex-wrap: wrap;  
}
.col {
  flex: 1;
}  
  
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}